.logo{
  font-size: 20px;
  color:#d1eeee;
}

b {
   letter-spacing: 3px;
   color:	#d1eeee;
   /* font-size: 25px; */
}

.dua{
  background-color: #1e90ff;
  height:450px;
  width:1200px;
  /* border: 2px solid red; */
}

.text-center{
  padding-top:30px;
}

b {
   letter-spacing: 3px;
   color:	#d1eeee;
   /* font-size: 25px; */
}

.h2{
  color:white;
  text-align: center;
  padding-top: 20px;
}

.display-4 {
  font-size: 25px !important;
  color:white;
  text-align: center;
}

.tiga{
  background-color:yellow;
  margin:20px auto;
}

.slide{
  margin:30px auto;
  width:600px;
  height:470px;
  border: 10px dashed white;
}


.carousel-caption{
  position: relative;
  top: 320px;
}

.moving{
  width:300px;
  height:480px;
  padding-top:60px;
}

.gambar{
  width:300px;
  height:300px;
}
